@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #4a69bd;
  min-height: 100px;
  font-family: "Open Sans", sans-serif;
}
.package {
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

.drum-pad {
  border-radius: 7px;
  font-size: 45px;
  background-color: #34e7e4;
  margin: 3px;
  display: flex;
  cursor: default;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
}

#display {
  background-color: #fbc531;
  display: flex;
  flex-wrap: wrap;
  width: 380px;
  padding: 18px;
}

#display h2 {
  display: block;
  width: 100%;
  text-align: center;
}

.drum-pad.active {
  opacity: 0.81;
  transform: scale(0.97);
}

.row {
  width: 380px;
  display: flex;
  flex-wrap: wrap;
}
